[user]
	name = Brice SAUNIER DEBES
	email = brice.saunier@gmail.com
[alias]
	save = !git add -A && git commit -m \"SAVEPOINT\"
	wip = !git add -u && git commit -m \"WIP\"
	undo = reset HEAD^ --mixed
	wipe = !git add -A && git commit -qm \"WIPE SAVEPOINT\" && git reset HEAD~1 --hard
